<!doctype html>
<html lang="uk">
<head>
    <!-- Голова: опис сторінки та підключення стилів -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
        <title>Головна сторінка</title>
    {% endblock title %}
    
    <!-- Підключення CSS та шрифтів -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"     integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body> 

  
    <!-- Тіло: увесь вміст сторінки -->
    <header class='container-fluid m-0 p-0'>
        <!-- Шапка сайту: назва, логотип, навігація -->
        <nav class="navbar navbar-expand-lg " style = "background-color:rgb(224, 192, 255);">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Турагенство</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Дім</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Країни
                    </a>
                    <ul class="dropdown-menu">              
                      {% for categ in category_list %}
                      <li><a class="dropdown-item" href="{{url_for('category', id = categ[0])}}">{{categ[1].capitalize()}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-danger" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
    {% block main %}
        
    {% endblock main %}

    <footer>
        <!-- Підвал сайту: про сайт, автор, контакти тощо -->
        <div class="section">
          <div class="container">
            <div class="row full-height justify-content-center">
              <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                  <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                        <label for="reg-log"></label>
                  <div class="card-3d-wrap mx-auto">
                    <div class="card-3d-wrapper">
                      <div class="card-front">
                        <div class="center-wrap">
                          <div class="section text-center">
                            <h4 class="mb-4 pb-3">Log In</h4>
                            <div class="form-group">
                              <input type="email" class="form-style" placeholder="Email">
                              <i class="input-icon uil uil-at"></i>
                            </div>	
                            <div class="form-group mt-2">
                              <input type="password" class="form-style" placeholder="Password">
                              <i class="input-icon uil uil-lock-alt"></i>
                            </div>
                            <a class="btn mt-4">Login</a>
                            <p class="mb-0 mt-4 text-center"><a class="link">Forgot your password?</a></p>
                              </div>
                            </div>
                          </div>
                      <div class="card-back">
                        <div class="center-wrap">
                          <div class="section text-center">
                            <h4 class="mb-3 pb-3">Sign Up</h4>
                            <div class="form-group">
                              <input type="text" class="form-style" placeholder="Full Name">
                              <i class="input-icon uil uil-user"></i>
                            </div>	
                            <div class="form-group mt-2">
                              <input type="tel" class="form-style" placeholder="Phone Number">
                              <i class="input-icon uil uil-phone"></i>
                            </div>	
                            <div class="form-group mt-2">
                              <input type="email" class="form-style" placeholder="Email">
                              <i class="input-icon uil uil-at"></i>
                            </div>
                            <div class="form-group mt-2">
                              <input type="password" class="form-style" placeholder="Password">
                              <i class="input-icon uil uil-lock-alt"></i>
                            </div>
                            <a  class="btn mt-4">Register</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>
