{% extends 'base.html' %}

{% block title %}
<title>Wonderful World</title>
{% endblock title %}

{% block main %}
<main class = "container-fluid p-0 ">
    
                    
                
            
                    <div id="carouselExampleCaptions" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
                        </div>
                        <div class="carousel-inner slides position-relative z-0">
                            <div class="logikablog text-white text-center position-absolute top-50 start-50 translate-middle z-3">
                                <h1>WONDERFUL WORLD</h1>
                                <h2>Вітаємо на нашому сайті туристичних подорожей Європою!</h2>
                            </div>
                
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/slide1.jpg') }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>England</h5>
                                        
                                    </div>
                                    </div>
                            
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/slide2.jpg') }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>England</h5>
                                        
                                    </div>
                                    </div>
                                
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/slide3.jpg') }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>England</h5>
                                                  
                                    </div>
                                    </div>    
                    
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/slide4.jpg') }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>England</h5>
                                        
                                    </div>
                                    </div>
                
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/slide5.jpg') }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>England</h5>
                                        
                                    </div>
                                    </div>
                
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/slide6.jpg') }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>England</h5>
                                        
                                    </div>
                                    </div>
                
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/slide7.jpg') }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>England</h5>
                                        
                                    </div>
                                    </div>
                
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/slide8.jpg') }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>England</h5>
                                        
                                    </div>
                                    </div>
                
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/slide9.jpg') }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>England</h5>
                                        
                                    </div>
                                    </div>
                
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/slide10.jpg') }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>England</h5>
                                        
                                    </div>
                                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>

        
      <div class ="posts container py-5">
        <div class="card-group">
        {% for post in posts %}
        <div class="card m-2" style="max-width: 18rem;">
          <img src="{{ url_for('static', filename='img/' +post[5]) }}" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">{{post[3]}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
            <p class="card-text">{{post[4]}}</p>
            <a href="{{url_for('post', post_id = post[0])}}" class="card-link stretched-link"></a>
          </div>
        {% endfor %}
          
          </div>
        </div>
      </div>

</main>
    
{% endblock main %}