{% extends 'base.html' %}

{% block title %}
<title>Усі пости</title>
{% endblock title %}

{% block main %}
<main class="container">
    <div class="card m-2">
        <img src="{{ url_for('static', filename='img/' + post[5]) }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post[3]}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
          <p class="card-text">{{post[4]}}</p>
          <a href="#" class="card-link">Card link</a>
        </div>
</main>
{% endblock main %}











 





<p>Норвегія відома своїм захоплюючим природним ландшафтом, величезними фьордами, гірськими вершинами та чарівними селами. 
  Ось декілька популярних турів по Норвегії, які можна розглянути:</p>

<ol>
<li>Фьорди Норвегії: Цей тур дозволяє насолодитися норвезькими фьордами, які є одними з найкрасивіших у світі. Ви можете відвідати Ставангер та прогулятися по фьорду Лайфотен, відвідати готель Флам та зробити круїз по найвузькішому фьорду Согнефьорду, а також відвідати гору Прикештолен та інші захоплюючі місця.</li>

<li>Осло та Берген: Цей тур включає відвідування двох найвідоміших міст Норвегії - Осло та Берген. Ви можете побачити Оперний театр та фьорд Осло у столиці, а в Бергені відвідати Бригген, акваріум та зробити екскурсію на канатній дорозі Флойбанен.</li>

<li>Східна Норвегія: Цей тур пропонує відвідування старовинного міста Тронхейм, огляд глибокого фьорду Гейренгер та знаменитого шосе «Орловий шлях», а також можливість насолодитися краєвидами Гардарікету та Національного парку Йотунхеймен.</li>

<li>Сінгерф'орд та Альєсунд: Цей тур пропонує відвідування мальовничого селища Альєсунд, відомого своїми архітектурними скарбами, а також круїз по фьорду Сінгерф'орд, який відомий своїми вражаючими краєвидами та водоспадами.</li>

<li>Святі місця Норвегії: Цей тур пропонує відвідування місць з історичним та релігійним значенням, таких як стародавні церкви Вікінгів у місті Осло, Нідаросський кафедральний собор у Тронхеймі та старовинний собор у Ставангері.</li>

</ol>

<p>Орієнтовна ціна за класичний тур по Нідерландам може становити від $2000 до $4000 на одну особу.</p> 





